
header {
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('./img/background.jpg');
}

.brushes h2 {
  background-color: mediumspringgreen;
}
.frames h2 {
  background-color: lightcoral;
}
.paint h2 {
  background-color: skyblue;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: Helvetica;
  font-weight: bold;
}

p {
  font-family: Helvetica;
}

a {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
  text-decoration: none;
}
